
<!DOCTYPE html>
<html>
<%@ include file="/taglibs/taglibs.html"%>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Demo管理</title>
<!--框架必需start-->
<script type="text/javascript" src="<%= path %>ui-framework/qui/libs/js/jquery.js"></script>
<script type="text/javascript" src="<%= path %>ui-framework/qui/libs/js/language/cn.js"></script>
<script type="text/javascript" src="<%= path %>ui-framework/qui/libs/js/framework.js"></script>
<!-- <link href="<%= path %>ui-framework/qui/libs/css/import_basic.css" rel="stylesheet" type="text/css"/>
<link rel="stylesheet" type="text/css" id="skin" prePath="<%= path %>ui-framework/qui/"/> -->
   
   <link href="<%=path%>ui-framework/qui/libs/css/import_basic.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css" id="skin" prePath="<%=path%>/" splitMode="true" href="<%=path%>ui-framework/qui/libs/skins/blue/style.css"/>
<link rel="stylesheet" type="text/css" id="customSkin" href="<%=path%>ui-framework/qui/system/layout/skin/style.css"/>
   
   <!--框架必需end-->
<!-- 日期选择框start -->
<script type="text/javascript" src="<%= path %>ui-framework/qui/libs/js/form/datePicker/WdatePicker.js"></script>
<!--数据表格start-->
<script src="<%= path %>ui-framework/qui/libs/js/table/quiGrid.js" type="text/javascript"></script>
<!--数据表格end-->
<!-- 树形下拉框start -->
<script type="text/javascript" src="<%=path%>ui-framework/qui/libs/js/form/selectTree.js"></script>
<!-- 树形下拉框end -->
<!--表单异步提交start-->
<script src="<%= path %>ui-framework/qui/libs/js/form/form.js" type="text/javascript"></script>
<!--表单异步提交end-->
<!--树组件start -->
<script type="text/javascript" src="<%= path %>ui-framework/qui/libs/js/tree/ztree/ztree.js"></script>
<link href="<%= path %>ui-framework/qui/libs/js/tree/ztree/ztree.css" rel="stylesheet" type="text/css"/>
<!--树组件end -->
   	<script type="text/javascript" src="<%= path %>ui-framework/qui/libs/js/popup/drag.js"></script>
<script type="text/javascript" src="<%= path %>ui-framework/qui/libs/js/popup/dialog.js"></script>
<script type="text/javascript" src="<%= path %>ui-framework/qui/quiDialogWrapper.js"></script>
<script type="text/javascript" src="js/tagList.js"></script>
</head>
<body>
	
	<!-- 表格 -->
	<div class="padding_right5">
		<div id="datagrid"></div>
	</div>

</body>
</html>