<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<%@ include file="/taglibs/taglibs.html"%>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Title</title>
    <link rel="stylesheet" href="css/init.css">
    <script type="text/javascript" src="<%= path %>ui-framework/qui/libs/js/jquery.js"></script>
    <script type="text/javascript" src="<%= path %>ui-framework/qui/libs/js/language/cn.js"></script>
    <script type="text/javascript" src="<%= path %>ui-framework/qui/libs/js/framework.js"></script>
    <link href="<%=path%>ui-framework/qui/libs/css/import_basic.css" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" type="text/css" id="skin" prePath="<%=path%>/" splitMode="true" href="<%=path%>ui-framework/qui/libs/skins/blue/style.css"/>
	<link rel="stylesheet" type="text/css" id="customSkin" href="<%=path%>ui-framework/qui/system/layout/skin/style.css"/>
</head>
<body>
<div class="box2" panelWidth="500" panelHeight="300" panelTitle="数据初始化" showStatus="false" style="margin: 0 auto">
            <h1 class="obox_h1">
                确定进行数据初始化吗？
            </h1>
            <p class="obox_p">
                初始化过程中会清空机构数据、部门数据、用户数据、应用数据、功能数据、角色数据、资源数据、操作数据、日志数据、图标数据、字典数据、服务接口
            </p>
           <div style="text-align: center;">
                 <a href="set.html"><input type="button" value="确定"></a>
<!--                  <a href=""><input type="button" value="取消"></a> -->
            </div>
</div>
    <script src="js/set.js"></script>
</body>
</html>