<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<%@ include file="/taglibs/taglibs.html"%>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>服务接口权限管理</title>
    <!--框架必需start-->
    <script type="text/javascript" src="<%= path %>ui-framework/qui/libs/js/jquery.js"></script>
    <script type="text/javascript" src="<%= path %>ui-framework/qui/libs/js/language/cn.js"></script>
    <script type="text/javascript" src="<%= path %>ui-framework/qui/libs/js/framework.js"></script>
    <link href="<%=path%>ui-framework/qui/libs/css/import_basic.css" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" type="text/css" id="skin" prePath="<%=path%>/" splitMode="true" href="<%=path%>ui-framework/qui/libs/skins/blue/style.css"/>
	<link rel="stylesheet" type="text/css" id="customSkin" href="<%=path%>ui-framework/qui/system/layout/skin/style.css"/>
    <!--框架必需end-->
      <!--树组件start -->
	<script type="text/javascript" src="<%=path%>ui-framework/qui/libs/js/tree/ztree/ztree.js"></script>
	<link href="<%=path%>ui-framework/qui/libs/js/tree/ztree/ztree.css" rel="stylesheet" type="text/css"/>
	<!--树组件end -->
    <!--数据表格start-->
    <script src="<%= path %>ui-framework/qui/libs/js/table/quiGrid.js" type="text/javascript"></script>
    <!--数据表格end-->
	 <script type="text/javascript" src="<%= path %>ui-framework/qui/libs/js/popup/drag.js" id="drag"></script>
    <script type="text/javascript" src="<%= path %>ui-framework/qui/libs/js/popup/dialog.js" id="dialog"></script>
    <script type="text/javascript" src="<%= path %>ui-framework/qui/quiDialogWrapper.js"></script>
</head>
<body style="background-color: white;">
<table width="100%"  border="0" cellspacing="0" cellpadding="0">
	<tr>
		<td style="padding-top:100px;">
			<div id="layout1">
			    <div style="float: left;width: 48%;">
			    	<div style="padding-top:15px;padding-left:20%;">
					    <ul id="appServiceTree" class="ztree"></ul>
					</div>
			    </div>
			    <div style="float: left;width: 50%;text-align:center;">
			        <div class="padding_right5">
			    		<input name = "serviceId" id = "serviceId" type="hidden"/>
			            <div id="dataBasic"></div>
			        </div>
			        <input type="button" onclick = "saveServiceAuth()" value="保存" style="margin-top:50px;"/>
			    </div>
	</div>
		</td>
	</tr>
</table>
<script src="js/serviceAuth.js"></script>
</body>
</html>
