<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<%@ include file="/taglibs/taglibs.html"%>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>基本表格模板1</title>
    <!--框架必需start-->
    <script type="text/javascript" src="<%= path %>ui-framework/qui/libs/js/jquery.js"></script>
    <script type="text/javascript" src="<%= path %>ui-framework/qui/libs/js/language/cn.js"></script>
    <script type="text/javascript" src="<%= path %>ui-framework/qui/libs/js/framework.js"></script>
    <link href="<%=path%>ui-framework/qui/libs/css/import_basic.css" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" type="text/css" id="skin" prePath="<%=path%>/" splitMode="true" href="<%=path%>ui-framework/qui/libs/skins/blue/style.css"/>
	<link rel="stylesheet" type="text/css" id="customSkin" href="<%=path%>ui-framework/qui/system/layout/skin/style.css"/>
    <!--框架必需end-->
    <!--弹出框-->
    <script type="text/javascript" src="<%= path %>ui-framework/qui/libs/js/popup/drag.js" id="drag"></script>
    <script type="text/javascript" src="<%= path %>ui-framework/qui/libs/js/popup/dialog.js" id="dialog"></script>
    <!--数据表格start-->
    <script src="<%= path %>ui-framework/qui/libs/js/table/quiGrid.js" type="text/javascript" id="quiGrid"></script>
    <!--数据表格end-->
    <!-- 表单验证start -->
    <script src="<%= path %>ui-framework/qui/libs/js/form/validationRule.js" type="text/javascript" id="validationRule"></script>
    <script src="<%= path %>ui-framework/qui/libs/js/form/validation.js" type="text/javascript" id="validation"></script>
    <!-- 表单验证end -->
    <!--布局控件start-->
    <script type="text/javascript" src="<%= path %>ui-framework/qui/libs/js/nav/layout.js"></script>
    <!--布局控件end-->
    <!--表单异步提交start-->
    <script src="<%= path %>ui-framework/qui/libs/js/form/form.js" type="text/javascript"></script>
    <!--表单异步提交end-->
    <!--树组件start -->
    <script type="text/javascript" src="<%= path %>ui-framework/qui/libs/js/tree/ztree/ztree.js"></script>
    <link href="<%= path %>ui-framework/qui/libs/js/tree/ztree/ztree.css" rel="stylesheet" type="text/css"/>
    <!-- 树形下拉框start -->
    <script type="text/javascript" src="<%=path%>ui-framework/qui/libs/js/form/selectTree.js"></script>
    <!-- 树形下拉框end -->
    <script type="text/javascript" src="<%= path %>ui-framework/qui/libs/js/popup/drag.js"></script>
	<script type="text/javascript" src="<%= path %>ui-framework/qui/libs/js/popup/dialog.js"></script>
	<script type="text/javascript" src="<%= path %>ui-framework/qui/quiDialogWrapper.js"></script>
    <style>
        .l-layout-center{
            border:none!important;
        }
        .l-layout-left{
            border-bottom:none!important;
        }
        .l-layout-drophandle-left{
            width: 10px;
        }
    </style>
</head>
<body>
<table width="100%"  border="0" cellspacing="0" cellpadding="0">
    <tr>
        <td>
            <div id="layout1">
                <div id="leftCon" position="left" style="" panelTitle="应用">
                    <div class="orgTreeContainer">
                        <ul id="tree-1" class="ztree"></ul>
                    </div>
                </div>
                <div id="centerCon" position="center" style="">
                	<div>
                        <form id="queryForm"  action="">
                        	<input type="hidden" id="applicationId" name="applicationId" />
                        	 <input type="hidden" id="parentId" name="parentId" value="1"/>
                        	<input type="hidden" id="functionId" name="functionId" />
                            <table>
                                <tr>
                                    <td>名称：</td>
                                    <td><input type="text" style="width: 100px" name = "name"/></td>
                                    <td>编码：</td>
                                    <td><input type="text" style="width: 100px" name = "code"/></td>
                                    <td>状态：</td>
                                    <td><select prompt="请选择" url="<%=path%>dictionaryController/select?typeGroupCode=status" id="status" name="status" style="width: 100px"></select></td>
                                    <td><button type="button" id="searchBtn" onclick="searchHandler()"><span class="icon_find">查询</span></button></td>
                                    <td><button type="button" id="resetButton" onclick="resetSearch()"><span class="icon_reload">重置</span></button></td>
                                </tr>
                            </table>
                        </form>
					</div>
                    <div class="padding_right5">
   						<div id="dataBasic"></div>
					</div>
               	</div>
            </div>
        </td>
    </tr>
</table>
<script type="text/javascript" src="<%= path %>webpage/base/app/js/appFunction.js"></script>
</body>
</html>